body {
    /* Padding needed so that the .fixed-top .navbar doesn't cover the content.
    .sticky-top gets around this but doesn't work with IE (what a surprise) */
    /* EDIT: No longer being used (switched back to .sticky-top), but kept here just in case I decide to switch back */
    /* padding-top: 56px; */
}

.nav-item {
    /* margin: 10px; */
    padding: 0px 20px;
    text-align: center;
}

#progress-bar {
    height: 10px;
    background-color: grey;
    width: 100%;
    position: fixed;
}

#progress-indicator {
    height: 10px;
    background-color: yellowgreen;
    width: 0%;
}