.nav-item {
    margin: 10px;
    padding: 0px 20px;
    text-align: center;
}

#progress-bar {
    height: 10px;
    background-color: grey;
    width: 100%;
    position: fixed;
}

#progress-indicator {
    height: 10px;
    background-color: yellowgreen;
    width: 0%;
}