body {
    /* Padding needed so that the .fixed-top .navbar doesn't cover the content.
    .sticky-top gets around this but doesn't work with IE (what a surprise) */
    /* EDIT: No longer being used (switched back to .sticky-top), but kept here just in case I decide to switch back */
    /* padding-top: 56px; */
}

/* Changing the colour of the body isn't working so this is a workaround */
#bgcolour-wrapper {
    background-color: #4f4639;
    color: white;
}

.nav-item {
    /* margin: 10px; */
    padding: 0px 20px;
    text-align: center;
}

#progress-bar {
    height: 10px;
    background-color: grey;
    width: 100%;
    position: fixed;
}

#progress-indicator {
    height: 10px;
    background-color: yellowgreen;
    width: 0%;
}

/* Fullpage navigation dots */
#fp-nav ul li a span {
    background: white;
}

/* Dot point for list on right side instead of left */
.rtl {
    direction: rtl
}

/* Just to add a bit of left and right padding */
.pad {
    padding: 0 35px;
}

img {
    padding-left: 0px;
    padding-right: 0px;
}

.game {
    border-color: white;
    border-width: 2px;
}